@font-face {
    font-family: Yanone Kaffeesatz;
    src: url('../fonts/YanoneKaffeesatz-Regular.eot');
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf');
  }
  
  html {
    height: 100%;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  * h1 {
    color: #E5017D;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  * h3 {
    color: rgb(117, 221, 12);
  }
  
  header {
    height: 250px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    padding: 10px;
  }
  
  #img1 {
    float: left;
  }
  
  body {
    font: normal .8em arial, sans-serif;
    background: #C4E9E8 url(../images/back.png) repeat-x;
    line-height: 25px;
    color: #555;
    text-align: justify;
  }
  #container {
    background: transparent url(../images/grass.png) repeat-x bottom;
  }

  nav {
    margin-left: 5px;
    padding-left: 1%;
    height: 50px;
    width: 860px;
    background-color: #53C7FD;
    border-radius: 10px;
  }
  
  ul {
    list-style: none;
  }
  
  ol {
    margin-left: 20px;
  }
  
  nav>ul>li {
    display: inline-block;
  }
  
  nav li a {
    background-color: #53C7FD;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
  }
  
  nav li a:hover {
    color: #E5017D;
  }
  
  nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
  }
  
  nav li:hover ul {
    display: block;
  }

  #main {
    margin-left: 20%;
    margin-right: 15%;
    padding: 10px;
    background-color: #fff;
  }
  main{
    margin-left: 1%;
  }

  table{
   width: 100%;
   border-collapse: collapse;
   text-align: center;
  }
  table th{
    color: #fff;
    background-color: #E5017D;
  }

  tr:nth-child(even) {
    background-color: #D6EEEE;
  }


 td>img{
    width: 100x;
    height: 100px;

 }
  
  
  footer {
    clear: both;
    background: #53C7FD;
    text-align: center;
    width: 860px;
    margin-left: 10px;
    border-radius: 10px;
    padding-bottom:3%;
  }
  
  footer>ul>li {
    display: inline-block;
  }
  
  footer li a {
    background-color: #53C7FD;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
  }
  
  footer li a:hover {
    color: #E5017D;
  }
  
  footer li ul {
    display: none;
    position: absolute;
    min-width: 140px;
  }
  
  footer li:hover ul {
    display: flex;
  }